<a href="https://colab.research.google.com/github/ykkim77/python-final/blob/main/python_final_2021_1_%EA%B3%84%EC%A0%88%ED%95%99%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **파이썬 프로그래밍 2세트**

## 2단계

1. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

```
0 32100
1 32150
2 32000
3 32500
```

In [ ]:
###### 문제 답안 작성

### 정답확인


```
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)
```

## 2단계

2. range() 구문을 이용하여 sample_list를 아래와 같이 출력하라.

```
sample_list = ["가", "나", "다", "라"]
```

```
가 나
나 다
다 라
```

In [ ]:
####  답안 작성

### 정답
```
for i in range( 1, len(sample_list) ) :
  print(sample_list[i-1], sample_list[i])
```

## 3단계

3. 리스트에 저장된 데이터를 아래와 같이 출력하라.

```
apart = [ [101, 102], [201, 202], [301, 302] ]
```

```
101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----
```

In [ ]:
### 답안 작성

### 정답

```
for row in apart:
    for col in row:
        print(col, "호")
        print("-" * 5)
```

## 4단계

4. 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.


```
sample_list = [100, 200, 400, 800]
```
예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

```
100
200
400
```

In [ ]:
### 답안 작성

### 정답
```
for i in range(len(my_list) - 1):
    print(abs(my_list[i+1] - my_list[i]))
```

## 5단계

5. 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

```
my_list = [100, 200, 400, 800, 1000, 1300]
```

첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

```
233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
```

In [ ]:
## 답안작성

### 정답 
```
for i in range(1, len(my_list) - 1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)
```

## 9단계

6. 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.


```
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
```

In [ ]:
## 답안작성

### 정답
```
volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])
```

## 10단계

7. "CUK" 문자열을 100번 화면에 출력하는 print_cuk() 함수를 정의하라.

In [ ]:
## 답안 작성

### 정답


```
def print_coins():
    for i in range(100):
        print("CUK")
```

## 11단계

8. CUK라는 클래스를 정의하시오.

In [ ]:
## 답안 작성

### 정답

```
class CUK:
    pass
```

## 12단계

9. CUK 클래스를 정의하고 CUK의 인스턴스를 "생성" 한뒤 이를 sample 변수로 바인딩해보세요.

In [ ]:
## 답안 작성

### 정답

```
class CUK:
    pass

sample = CUK()

```

## 14단계

10. CUK 클래스에 "study hard"를 출력하는 생성자를 추가하세요.

```
sample = CUK()
```

```
study hard
```

In [ ]:
# 답안작성

### 정답
```
class CUK:
    def __init__(self):
        print("study hard")

sample = CUK()
```